<h1>Start a recording</h1>

<%= form_for [@affected_body_part, @recording] do |f| %>
  <%= f.date_field :recorded_at, value: Date.new %>
  <% @recording.measurements.each do |measurement| %>
    <div>
      <%= f.fields_for :measurements, index: measurement.id do |fields| %>
        <%= fields.label :value, measurement.measuring_point.value %>
        <%= fields.number_field :value %>
      <% end %>
    </div>
  <% end %>
  <%= f.submit %>
<% end %>
