<div class="card">
  <% if session[:body_part_ids].include? body_part.id %>
  <div>
      <%= form_for body_part, method: :delete do |f| %>
      <div class="flex row">
        <h2><%= body_part.name %></h2>
        <%= f.submit "remove", class:"btn btn-remove" %>
      </div>
      <% end %>
    <% else %>
      <%= form_for body_part do |f| %>
      <div class="flex row">
        <h2><%= body_part.name %></h2>
        <%= f.submit "select",  class:"btn btn-nextpage"%>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
