<div class="card">
  <% if session[:body_part_ids].include? body_part.id %>
    <%= form_for body_part, method: :delete do |f| %>
      <%= body_part.name %>
      <%= f.submit "remove" %>
    <% end %>
  <% else %>
    <%= form_for body_part do |f| %>
      <%= body_part.name %>
      <%= f.submit "select" %>
    <% end %>
  <% end %>
</div>
